* {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-open {
    border: 1px solid black;
    position: absolute;
    padding: 20px 100px 20px 100px;
    top: 40%;
    right: 40%;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-open:hover {
    background-color: black;
    border: 5px solid white;
    color: white;
    transform: scale(1.1);
    font-size: 15px;
}

.menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border: 1px solid black;
}

.menu:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transform: scale(1.-1);
}

.about {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.education {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.hobby {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.gambar-profil {
    position: absolute;
    padding: 100px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.gambar-profil:hover {
    padding: 150px;
    transform: scale(1.1) translate(-45%, -45%);
    border: 1px solid black;
    background: url("/img/Rifki.jpg") no-repeat center center fixed;
    background-size: cover;
}

.gambar-profil img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 25px;
}